img {
  height: 8rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.contentFocus > img {
  height: 40rem;
  width: 70rem;
}

.contentFocus {
  width: 70rem;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}
